.card {
  background-color: var(--mantine-color-body);
}

.top {
  display: flex;
  justify-content: space-between;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
  /* border-top: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5)); */
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.toptitle {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 700;
  line-height: 1;
  font-size: var(--mantine-font-size-lg);
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  line-height: 1;
  font-size: var(--mantine-font-size-sm);
}
